#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

ul {
  padding-left: 22px;
}


.dict-section {
  font-family: sans-serif;
  white-space: break-spaces;
  justify-content: center;
}

.resultado-busca em {
  padding-bottom: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  justify-items: center;

  .search-icon-wrapper{
    display: flex;
    align-items: flex-start;
  }
}

.input-wrapper {
  margin: 20px 4px 20px 4px;
  padding: 8px 12px;
  display: flex;
  /* align-items: center; */
  gap: 6px;
  background-color: #fff;
  border-radius: 16px;
  justify-content: center;
  width: 90%;

  i {
    background-color: #242424;
    padding: 9px;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 3px;
  }
  
  .textarea-wapper {
    width: 100%;
    display: flex;
    padding-top: 3px;
  }

  .textarea-autogrow {
    width: 100%;
    resize: none;
    overflow: hidden; 
    font-size: 1rem;
    padding: 5px 0px 0px 0px;
    line-height: 1.4;
    border: none;
    height: 31px;
  }
  
  textarea:focus-visible {
    outline: none;  
  }

}



.loading-p {
  text-align: center;
  margin-top: 1rem;
  color: gray;
}

.error-select {
  text-align: center;
}

.hidden {
  display: none;
}

.optionBusca label:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.titulo-principal {
  text-decoration: underline;
}

/* .busca-termo {
  background-color: #0c0c0c;
  margin: 10px;
}

.busca-itsuwahen {
  background-color: #171717;
  
}
.busca-mikagurauta {
  background-color: #161517;
}
.busca-ofudessaki {
  background-color: #090415;
} */

/* Mobile (smartphones em geral) */
@media (max-width: 480px) {
  .optionBusca {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
    flex-wrap: wrap;
  }
  .resultado-busca {
    ul {
      padding: 0;
    }
  }
}

/* Tablet (ex: iPad retrato) */
@media (min-width: 481px) and (max-width: 768px) {

}

/* Desktop pequeno (ex: laptops) */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Desktop grande */
@media (min-width: 1025px) {
  .dict-section{
    padding: 1rem;
  }
}